<div *ngIf="storageData" class="container">
        <div class="info">
            <p>{{storageData.name}}</p>
            <p class="no-margin">Занято: {{storageData.size - storageData.sizeLeft}}/{{storageData.size}}</p>
        </div>
        <mat-progress-bar [color]="barValue > 80 ? 'warn' : 'primary'" mode="determinate" [value]="barValue"></mat-progress-bar>
        <div class="actions">
            <button color="primary" mat-raised-button (click)="showInfo(storageData._id)">Подробнее</button>
        <button color="warn" mat-raised-button (click)="delete(storageData._id)">Удалить</button>
        </div>

</div>