<div class="container">
    <div class="login">
        <form class="example-form" [formGroup]="loginForm" onsubmit="onLogin()">
            <mat-form-field class="example-full-width">
              <mat-label>Логин</mat-label>
              <input formControlName="login" matInput>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label>Пароль</mat-label>
              <input type="password" formControlName="password" matInput>
            </mat-form-field>

            <button mat-raised-button (click)="onLogin()">Войти</button>
          </form>
    </div>
</div>
