<div class="container">
    <div class="login">
        <div class="example-form">
            <mat-radio-group [formControl]="type" (change)="resetType()" color="primary" aria-label="Тип">
                <mat-radio-button value="0">Поставка</mat-radio-button>
                <mat-radio-button value="1">Вывоз</mat-radio-button>
              </mat-radio-group>

            <div *ngFor="let product of products" class="products">
                <div>{{product.title}}</div>
                <div>{{product.count}}</div>
                <button mat-raised-button (click)="onDelete(product.id)">Удалить</button>
            </div>
          
            <div class="add-product">
                <mat-form-field class="product-input">
                    <mat-label>Товар</mat-label>
                    <mat-select [(ngModel)]="selectedProduct">
                      <mat-option>Очистить</mat-option>
                      <mat-option *ngFor="let product of productList" [value]="product">{{product.title}}</mat-option>
                    </mat-select>
                  </mat-form-field>
      
                  <mat-form-field [ngClass]="{'error': error}" class="half-width">
                      <mat-label>Размер, м<sup>3</sup></mat-label>
                      <input type="number" [(ngModel)]="count" matInput (ngModelChange)="reset()">
                    </mat-form-field>

                    <button class="add_button" [disabled]="type.value === '1' && !availabeText" mat-raised-button (click)="onAdd()">Добавить</button>
            </div>
            <mat-form-field *ngIf="type.value === '1'">
              <mat-label>Место</mat-label>
              <mat-select [(ngModel)]="selectedPlace">
                <mat-option *ngFor="let place of placesList" [value]="place">{{place}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="type.value === '0'">
              <mat-label>Склад</mat-label>
              <mat-select [(ngModel)]="selectedStorage" (ngModelChange)="resetProducts()">
                <mat-option [value]="''">Автоматическое распределение</mat-option>
                <mat-option *ngFor="let storage of storages" [value]="storage">{{storage.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="type.value === '0' && !selectedStorage">Всего места: {{status?.sizeLeft}} м<sup>3</sup></div>
            <div *ngIf="type.value === '0' && selectedStorage">Доступно места в складе: {{selectedStorage?.sizeLeft}} м<sup>3</sup></div>
            <div *ngIf="type.value === '1' && selectedProduct && availabeText">{{availabeText}} м<sup>3</sup></div>
            <button mat-raised-button [disabled]="(type.value === '1' && selectedPlace) === '' || products?.length === 0" (click)="onSubmit()">Внести</button>
        </div>
    </div>
</div>