<div class="menu">
    <div class="menu_main">
        <img src="../../../../assets/logo.svg">
        <button color="primary" mat-raised-button routerLink="storages">Склады</button>
        <button color="primary" mat-raised-button routerLink="transfers">Перевозки</button>
    </div>
   <div class="menu_bottom">
        <button *ngIf="isAdmin" color="primary" mat-raised-button routerLink="users">Пользователи</button>
        <button color="primary" mat-raised-button (click)="logOut()" routerLink="login">Выйти</button>
   </div>
</div>
